@import '../fonts/fonts.css';

.board {
  margin-right: 5rem;
  height: 100vh;
  width: 40rem;
  min-width: 40rem;
  margin-left: 3rem;
  text-align: start;
  font-family: 'Burrow-Serif', serif;
  background: linear-gradient(rgba(31, 31, 31, 0.6), rgba(21, 21, 21, 0.6)),url('../img/cassat.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 10px rgb(51, 51, 51);
  position: relative;
}

.board-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(31, 31, 31, 0.6), rgba(21, 21, 21, 0.6));
  margin: 0;
  padding: 0;
}

.board-bar {
  margin-top: 2rem;
  padding: 1rem 4rem;
  width: 80%;
  color: #aed259;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight: bold;
}

.board-bar a:hover {
  color: white;
}

.board-bar a:nth-child(1) {
  margin: 0 auto;
  font-style: italic;
}

.board-bar a:nth-child(2) {
  align-self: flex-start;
}

.board-bar a:nth-child(3) {
  align-self: flex-end;
}

.board h5 {
  font-family: 'Burrow-Serif-Black', serif;
  text-shadow: 2px 0 white;
  align-self: flex-start;
  margin: 0;
  margin-left: 1.5rem;
  color: white;
  font-weight: 800;
  font-size: 5rem;
  vertical-align: bottom;
}

.board-title {
  position: absolute;
  bottom: 2rem;
  z-index: 0;
}

.word-container {
  font-family: 'Burrow-Serif-Black', serif;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.word {
  background-color: #aed259;
  width: fit-content;
  padding-inline: 2rem;
  padding-block: .5rem;
  border-radius: 40px;
  font-weight: bold;
  font-size: 4rem;
  margin:0;
  align-self: center;
}

.word p {
  margin: 0;
}

.word-container a {
  align-self: flex-end;
  margin-right: 10rem;
  font-size: 1.5rem;
}

.word-container a:nth-child(3) {
  color: #aed259;
  text-decoration: underline;
}

.word-container a:nth-child(3):hover {
  color: white;
}


.line-container {
  margin: 4rem auto;
  display: flex;
  align-self: center;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 99;
}

.line {
  background-color: #aed259;
  width: fit-content;
  color: white;
  letter-spacing: .1rem;
  padding-inline: 2rem;
  padding-block: .5rem;
  border-radius: 40px;
  font-weight: 400;
  font-size: 1rem;
  margin:0;
  align-self: center;
  line-height: .1rem;
  text-align: end;
  font-family: 'Burrow-Serif', serif;
  padding-bottom: 1rem;
}

.line p{
  line-height: normal;
}

.line p:nth-child(1){
  color: rgb(41, 40, 40);
  font-family: 'Burrow-Serif-Black', serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: .1rem;
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.line p:nth-child(3){
  margin-top: 1rem;
  font-family: 'Burrow-Serif', serif;
  font-weight: bold;
}

.line-container a:nth-child(3) {
  align-self: flex-end;
  margin-top: .5rem;
  font-size: 1.5rem;
  color: #aed259;
  text-decoration: underline;
  z-index: 99;
}

.line-container a:nth-child(5) {
  align-self: flex-end;
  margin-top: .5rem;
  font-size: 1rem;
  color: #aed259;
  text-decoration: underline;
  z-index: 98;
}

.line-container a:hover {
  color: rgb(181, 181, 181);
}

.image-container {
  text-align: end;
  margin-right: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.image-info {
  color: white;
  padding: 1rem;
  border: 1px solid white;
  width: 60%;
  align-self: flex-end;
}

.image-info p:nth-child(1) {
  font-weight: bold;
}

.image-info p:nth-child(2) {
  font-style: italic;
}

.image-info p:nth-child(5) {
  font-weight: bold;
  font-style: italic;
}

.image-container a {
  margin-top: .5rem;
  font-size: 1.2rem;
  color: #aed259;
  text-decoration: underline;
  z-index: 98;
}

.image-container a:nth-child(5) {
  font-size: 1rem;
}

.image-container a:hover {
  color: rgb(181, 181, 181);
}

.close-button {
  font-family: 'Burrow-Serif-Black', serif;
  font-weight: 800;
  align-self: flex-end;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}

.close-button:hover {
  color: rgb(181, 181, 181);
}

.image-container .close-button {
  font-family: 'Burrow-Serif-Black', serif;
  font-weight: 800;
  align-self: flex-end;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}