@import '../fonts/fonts.css'; 

body {
  height: 100%;
  background-image: url('../img/background-grunge.png');
  background-size: cover;
}

a {
  cursor: crosshair;
}

.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.title-row {
  color: white;
  font-family: 'Burrow-Serif-Black', serif;
  text-shadow: 2px 0 white;
  font-weight: bold;
  font-size: 7em;
  position: absolute;
  top: -40px;
  left: -20px;
  margin: 0;
  letter-spacing: 1rem;
  white-space: nowrap;
}

.title-column {
  color: white;
  font-family: 'Burrow-Serif-Black', serif;
  text-shadow: 2px 0 white;
  font-weight: bold;
  font-size: 7rem;
  width: 1rem;
  word-wrap: break-word;
  position: absolute;
  top: 100px;
  left: -20px;
  margin: 0;
  line-height: 7rem;
}

.title-column span {
  height: 30px;
  display: block;
}

.bar-links {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 4.5rem;
  left: 16rem;
  white-space: nowrap;
  color: #ADE259;
  font-family: 'Burrow-Serif', serif;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.bar-links a {
  color: #ADE259;
  font-family: 'Burrow-Serif', serif;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.bar-links p {
  margin: auto 1.5rem;
}

.bar-links a:hover{
  color: white;
}

.poem {
  display: flex;
  margin-top: 10rem;
  color: white;
  flex-direction: column;
  margin-left: 13rem;
  max-width: 27rem;
  min-height: 30rem;
}

textarea {
  align-self: center;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  height: 27rem;
  min-width: 80%;
  overflow: auto;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize:none;
  background: none;
  color: white;
  text-align: end;
  padding:  1rem;
  box-shadow: 0px 0px 2px 1px rgb(255, 255, 255, .5);
  font: 1.5rem 'Burrow-Beta', sans-serif;
  letter-spacing: 1px;
  caret-color: #ADE259;
  margin-right: 15rem;
}

.poem h2 {
  align-self: flex-start;
  margin-bottom: 1rem;
  font-family: 'Burrow-Serif-RI', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.8rem;
}

.poem-button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  color: black;
  font: 5rem 'Burrow-Serif-RI', serif;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  border:1px solid #ADE259;
  padding: 0 1.5rem;
  top: -4rem;
  left: 25rem;
  position: relative;
  display: flex;
  cursor:crosshair;
}

button:hover {
  color: #ADE259;
}

@media only screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;    
    height: 100vh;
  }
}